.card {
    min-width: 16em;
    min-height: 8.9em;
    max-width: 16em;
    max-height: 8.9em;
    background-size: contain;
}

#description-modal {
    width: 80vw;
    min-height: 80vh;
}

#logo {
    width: 75px;
    height: 75px;;
}